<body>
  <header id="headerWrapper">
    <div id=logoHeaderWrapper>
      <div class="headerItem" id="logoHeader">Explore</div>
    </div>
    <div class="headerItem" id="navBarWrapper">
      <div id="navBar">
        <div><a class="navLinks" id="navhome" href="/">home</a></div>
        <div><a class="navLinks" id="navmap" href="/explore">map</a></div>
        <div><a class="navLinks" id="navsearch" href="/search">search</a></div>
      </div>
  </div>
</header>
