  <div id="navBarWrapper">
    <div id="navBar">
      <div><a class="navLinks" id="home" href="/">home</a></div>
      <div><a class="navLinks" id="map" href="#">map</a></div>
      <div><a class="navLinks" id="search" href="#">search</a></div>
    </div>
  </div>
</header>
