<% include ./partials/boilerplate %>
<% include ./partials/header %>
<% include ./partials/nav-bar %>

<main>
  <div id="submitField">
    <!-- <form id="submit"> -->
      <input id="input" type="text" name="name" placeholder="Enter State"><br>
      <button class="button" id="btnSearch">SEARCH</button>
    <!-- </form> -->
  </div>
  <div id="getAPIdata">
    <div id="parkName"></div>
    <div id="address"></div>
    <div id="image"></div>
    <div id="website"></div>
    <div id="latLong"></div>
  </div>
</main>


<% include ./partials/end %>
