<% include ./partials/boilerplate %>
<% include ./partials/header %>
<% include ./partials/nav-bar %>

<main>
  <h1>Explore your Parks</h1>
  <div id="map"></div>
</main>

<% include ./partials/end %>
