<% include ./partials/boilerplate %>
<% include ./partials/nav-bar %>

<main>
  <div>
    <div id="homeWrapper">
      <div><img id="timer"></div>
<!--       <img onclick="changeImageToRandomImage()" id="backgroundHome" src="assets/natlpark1.jpg">
 -->  <img name="backgroundHome" id="backgroundHome">
      <div id="location"></div>
      <div id="appName">EXPLORE</div>
      <div id="startButton">
        <a href="/explore"><button id="btnStart">START EXPLORING</button></a>
      </div>
    </div>
  </div>
</main>

<script src='/home.js'></script>
<% include ./partials/end %>
