<% include ./partials/boilerplate %>
<% include ./partials/header %>
<% include ./partials/nav-bar %>

<main>
  <div id="background">
    <div id="location"></div>
    <button id="btnStart">START EXPLORING</button>
  </div>
</main>

<% include ./partials/end %>
