<% include ./partials/boilerplate %>
<main>
  <div>
    <div id="homeWrapper">
      <div id="homeImgWrapper">
        <div class="container">
          <div class="timer"></div>
          <div class="slideshow">
            <div class="slide"><img id="backgroundHome" src="assets/natlpark1.jpg"></div>
            <div class="slide"><img id="backgroundHome" src="assets/natlpark2.jpg"></div>
            <div class="slide"><img id="backgroundHome" src="assets/natlpark3.jpg"></div>
            <div class="slide"><img id="backgroundHome" src="assets/natlpark4.jpg"></div>
            <div class="slide"><img id="backgroundHome" src="assets/natlpark5.jpg"></div>
            <div class="slide"><img id="backgroundHome" src="assets/natlpark6.jpg"></div>
            <div class="slide"><img id="backgroundHome" src="assets/natlpark7.jpg"></div>
            <div class="slide"><img id="backgroundHome" src="assets/natlpark8.jpg"></div>
          </div>
        </div>
      </div>
      <div id="logoWrapper">
        <div id="appName">EXPLORE</div>
        <div id="startButton">
          <a id="homeBtn" href="/explore"><div id="btnStart">start your adventure</div></a>
        </div>
      </div>
    </div>
  </div>
</main>

<script src='/home.js'></script>
<% include ./partials/end %>
