<% include ./partials/boilerplate %>
<% include ./partials/header %>
<% include ./partials/nav-bar %>

<main>
  <div id="submitField">
    <!-- <form id="submit"> -->
      <input id="input" type="text" name="name" placeholder="Enter State"><br>
      <button class="button" id="btnSearch">SEARCH</button>
    <!-- </form> -->
  </div>
  <div id="searchResults"></div>
</main>

<% include ./partials/end %>
