<% include ./partials/boilerplate %>
<% include ./partials/header %>
<% include ./partials/nav-bar %>

<main>
  <div>
    <div id="backgroundHome"></div>
    <div id="location"></div>
    <a href="/map"><button id="btnStart">START EXPLORING</button></a>
  </div>
</main>

<% include ./partials/end %>
