
<% include ./partials/boilerplate %>
<% include ./partials/header %>
<% include ./partials/nav-bar %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCi4EQUgIPHsZR_zfUnKAe9Z1cwqQdHXG4"></script>
<main>
  <div id="submitField">
    <!-- <form id="submit"> -->
      <input id="input" type="text" name="name" placeholder="Enter State"><br>
      <button class="button" id="btnSearch">SEARCH</button>
    <!-- </form> -->
  </div>
  <div id="searchResultsWrapper">
    <div id="searchMap"></div>
    <div id="searchResults"></div>
  </div>
</main>

<script src='/search.js'></script>
<% include ./partials/end %>
