<% include ./partials/boilerplate %>
<% include ./partials/header %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCi4EQUgIPHsZR_zfUnKAe9Z1cwqQdHXG4"></script>
<main>
  <div id="submitField">
    <div id="searchField">
      <div class="searchQuestion1">Where would you like to go?</div>
      <div class="searchQuestion2">What would you like to do?</div>
      <div id="searchInputWrapper">
        <input id="input" type="text" name="name" placeholder="Find a Park"><br>
        <button class="button" id="btnSearch">SEARCH</button>
      </div>
    </div>
  </div>
  <div id="searchMap"></div>
  <div id="searchResultsWrapper">
    <div id="searchResults"></div>
  </div>
</main>

<script src='/search.js'></script>
<% include ./partials/end %>
