/*font-family: 'Just Another Hand', cursive;
font-family: 'Caveat Brush', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Pragati Narrow', sans-serif;
font-family: 'Questrial', sans-serif;
*/

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body, html {
  height: 100%;
  margin: 0;
}

/*HEADER*/
#headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.headerItem {

}

#logoHeader {
  font-family: 'Questrial', sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  margin-left: 30px;
}

/*NAV BAR*/

#navBar {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  background-color: white;
}

.navLinks {
  text-decoration: none;
  font-family: 'Questrial', sans-serif;
  display: inline;
  background-color: white;
  padding: 5px 30px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: black;
}

.navLinks:hover {
  background-color: rgb(102,178,102);
}

/*LANDING PAGE*/

#backgroundHome {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 2s linear;
  width: 100%;
  position: absolute;
  filter: opacity(.8);
  margin-left: -50%;
}

#startButton {
  position: relative;
  text-align: center;
  padding: 10px;
  background-color: #F0F0F0;
  margin: 10px;
  box-shadow: 2px 2px 2px #000000;
}

#homeBtn {
  text-decoration: none;
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 24px;
  color: rgb(0,0,0);
}

#appName {
/*  font-family: 'Gloria Hallelujah', cursive;*/
  font-family: 'Questrial', sans-serif;
  text-transform: uppercase;
  font-size: 150px;
  text-align: center;
  color: #F0F0F0;
/*  color: rgb(183,49,0);*/
  text-shadow: 2px 2px #000000;
}

#homeWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logoWrapper {
  position: relative;
  text-align: center;
  margin-top: 25%;
}


/*SEARCH PAGE*/

#submitField {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
}

#searchField {
  display: flex;
  flex-direction: column;
}

#searchResultsWrapper {
  display: flex;
}

#searchInputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchQuestion {
  font-family: 'Questrial', sans-serif;
  text-align: center;
  font-size: 30px;
  margin: 30px;
}

#input {
  width: 50%;
  height: 30px;
}

#btnSearch {
  width: 50%;
  height: 30px;
  margin-bottom: 30px;
  background-color: rgb(102,178,102);
}

#searchMap {
  height: 500px;
  width: 100%;
  border: 1px solid lightgray;
}

#searchResults {
  width: 80%;
  margin: 0 auto;
}

.resultCont {
  border: 1px solid lightgray;
  list-style: none;
  padding: 10px;
  margin: 2%;
}

.resultTop {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
}

.resultTopText {
  position: relative;
  padding-left: 30px;
  padding-top: 10px;
  width: 70%;
}

.resultImageCont {
  position: relative;
  width: 250px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
  width: 30%;
}

.resultImage {
  height: auto;
  width: auto;
  height: 150px;
  width: 250px;
  object-fit: contain;
  overflow: hidden;
}

.resultName {
  font-family: 'Questrial', sans-serif;
  font-size: 24px;
}

.resultNameCont {
  background-color: rgb(102,178,102);
  width: 100%;
}

.resultDescriptionHeader {
  font-family: 'Questrial', sans-serif;
}

.resultWeatherHeader {
  font-family: 'Questrial', sans-serif;
}

.resultDirectionsHeader {
  font-family: 'Questrial', sans-serif;
}

.resultHoursHeader {
  font-family: 'Questrial', sans-serif;
}

.resultAddress {
  font-family: 'Pragati Narrow', sans-serif;
}

.resultCity {
  font-family: 'Pragati Narrow', sans-serif;
}

.resultState {
  font-family: 'Pragati Narrow', sans-serif;
}

.resultCoords {
  font-family: 'Pragati Narrow', sans-serif;
}

.resultDescription {
  font-family: 'Pragati Narrow', sans-serif;
  margin-bottom: 10px;
}

.resultDirections {
  font-family: 'Pragati Narrow', sans-serif;
  margin-bottom: 10px;
}

.resultWeather {
  font-family: 'Pragati Narrow', sans-serif;
  margin-bottom: 10px;
}

.resultHours {
  font-family: 'Pragati Narrow', sans-serif;
  margin-bottom: 10px;
}

.resultWebsite {
  font-family: 'Pragati Narrow', sans-serif;
}

.saveButton {
  font-family: 'Pragati Narrow', sans-serif;
}

#searchResults {
font-family: 'Pragati Narrow', sans-serif;
}


/*MAP PAGE*/

#map {
  height: 800px;
  width: 100%;
  border: 1px solid lightgray;
}

#mapsHeader {
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
  margin: 30px;
  text-align: center;
}

.exploreParkContainer {
  border: 1px solid lightgray;
  display: flex;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.textContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.addressContainer {
  display: flex;
  flex-direction: row;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

/*.linkContainer {
  text-decoration: none;
}*/

.exploreParkImage{
  height: auto;
  width: auto;
  max-height: 250px;
  max-width: 40%;
  object-fit: scale-down;
  overflow: hidden;
  position: relative;
}



.exploreParkName {
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
}

.exploreParkAddress {
  font-family: 'Pragati Narrow', sans-serif;
  margin: 0 3px;

}
.exploreParkCity {
  font-family: 'Pragati Narrow', sans-serif;
  margin: 0 3px;

}
.exploreParkState {
  font-family: 'Pragati Narrow', sans-serif;
  margin: 0 3px;

}
.exploreParkCoordinates {
  font-family: 'Pragati Narrow', sans-serif;

}
.exploreParkWebsite {
  font-family: 'Pragati Narrow', sans-serif;

}
.exploreParkDescription {
  font-family: 'Pragati Narrow', sans-serif;

}
.exploreParkWeather {
  font-family: 'Pragati Narrow', sans-serif;

}
.exploreParkView {
  font-family: 'Questrial', sans-serif;
  padding: 5px;
  margin: 5px;
}
.exploreParkDelete {
  font-family: 'Questrial', sans-serif;
  padding: 5px;
  margin: 5px;
}

/*SINGLE VIEW*/
.singleWrapper {
  width: 100%;
  margin: 0 auto;
}

.singleImageHeader {
  display: flex;
  position: relative;
}

.singleParkName {
  position: absolute;
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
  text-align: left;
  padding: 5%;
  width: 90%;
  background-color: rgba(0,0,0,0.5);
  color: white;
  align-self: flex-end;
}

.singleParkImage {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

.singleContentWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.singleContactInfo {
 display: flex;
 flex-direction: column;
 width: 100%;
 padding: 0;
}

#singleAddressBox {
  background-color: rgb(102,178,102);
  color: white;
  padding-top: 10px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 10px;
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 18px;
}

.singleAddressHeader {
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
}

#singleWebsiteBox {
  background-color: rgb(102,178,102);
  color: white;
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 18px;
}

.singleWebsiteHeader {
  font-family: 'Questrial', sans-serif;
  font-size: 24px;
  margin-bottom: 5px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 94%;
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.singleParkCoordinates {
  padding-left: 3%;
  padding-right: 3%;
}

.singleParkWebsite {
  padding-left: 3%;
  padding-right: 3%;
}

.singleDescriptionHeader {
  font-family: 'Questrial', sans-serif;
  font-size: 24px;
  margin-bottom: 5px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 94%;
  background-color: rgba(0,0,0,0.5);
  color: white;
}
.singleParkDescription {
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 18px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.singleWeatherHeader {
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 94%;
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.singleParkWeather {
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 18px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.singleDirectionsHoursHeader {
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 94%;
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.singleParkDirections {
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 18px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;

}

.singleParkHours {
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 18px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;

}

#singleDirectionsHoursBox {
  width: 100%;
}

.singleHoursHeader {
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  margin-left: 3%;
}

